---
- hosts: all
  gather_facts: yes

  vars_files:
    - vars/ssh-hardening.yml
    - vars/ntp.yml

  roles:
    - selinux
    - sysctl
    - firewall
    - syslog
    - pkg-utilities
    - dev-sec.ssh-hardening
    - geerlingguy.ntp
    - install-packages
