---
- hosts: all
  gather_facts: yes

  vars_files:
    - vars/selinux.yml
    - vars/iptables.yml
    - vars/tcpwrappers.yml
    - vars/sysctl.yml
    - vars/syslog.yml
    - vars/package-utilities.yml
    - vars/ssh-hardening.yml
    - vars/ntp.yml
    - vars/logrotate.yml

  roles:
    - ivoamorim.selinux
    - ivoamorim.iptables
    - ivoamorim.tcpwrappers
    - linuxhq.sysctl
    - ivoamorim.syslog
    - ivoamorim.package_utilities
    - dev-sec.ssh-hardening
    - geerlingguy.ntp
    - ivoamorim.logrotate
